.wrap-info>li>a{
    font-weight: 500 !important;
    text-transform: capitalize !important;
    font-size: 16px !important;
    padding: 27px 25px !important;
    color: #ffffff !important;
    height: 90px !important;
}
.wrap-info .logout-button {
    font-size: 12px;
    color: #fff;
    text-decoration: underline;
}
.wrap-info .logout-button:hover {
    font-size: 12px;
}
.header-area .videomag-main-menu .top-search-area form
{
    width: 250px !important;
}
