.box>.box-header .insert-button {
    position: absolute;
    top: 3px;
    right: 270px;
}

.filling-error
{
    background: #FBEFEF;
    padding: 5px;
    margin: 3px 0;
    font-size: 11px;
    border: 1px dashed #F3D0D0;
    width: calc(100% - 2px);
    color: #c70808;
}
.label-status
{
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}